@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Lobster&family=Lora&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Permanent+Marker&family=Raleway:wght@300&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Lobster&family=Lora&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Permanent+Marker&family=Raleway:wght@300&family=Secular+One&family=Square+Peg&display=swap');

body
{
    background-image: url(./cardbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Secular One', sans-serif;

    color: white;
}

*,*::after,*::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header
{
    position: fixed;
    height: fit-content;
    width: 100%;
    font-size: 18px;
}

.header_content
{
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a
{
    padding: 10px;
}

header img
{
    height: 100px;
    width: 100px;
}

.header_buttons
{
    display: flex;
    width: 550px;
    justify-content: space-between;
    align-items: center;
}

header a:hover
{
    background-color: #D62B70;
    border-radius: 12px;
    cursor: pointer;
}

footer
{
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 0;
    text-align: right;
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer_content
{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

a
{
    text-decoration: none;
    color: white;
}

main
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_content
{
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.main_content .text
{
    text-align: center;
}

.logo img
{
    width: 350px;
    height: 350px;
}

h1 span
{
    font-size: 58px;
}

span
{
    color: #D62B70;
    background-color: white;
    border-radius: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

.titleline
{
    font-size: 48px;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Raleway', sans-serif;
    font-family: 'Secular One', sans-serif;
    font-family: 'Square Peg', cursive;
}